@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@700&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/nav.css");


body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

.logo {
  position: absolute;
  top: 60px;
  left: 60px;
}

.navbar {
  position: absolute;
  top: 70px;
  left: 1000px;
}

img {
  height: 50px;
  margin-right: 20px;
}

h1, h2, h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

a {
	text-decoration: none;
}